@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('fonts/Roboto-BoldItalic-webfont.eot');
    src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
body {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.site-title {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    color: #fff;
}
h2 {
    font-family: 'RobotoRegular', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    color: #fff;
}
.subtitle {
    display: block;
    text-transform: none;
    font-size: .75em;
    margin-top: 1em;
    
}
.txtTitle {
    margin-top: 10px;
    display: block;
}
.pull-left {
    float: left;
    margin-right: 24px;
}
.logo {
    min-height: 60px;
    padding-top: 15px;
}

header {
    background: #0C3559;
}
.hero {
    background: url('imgs/BJC_splash_background-1700x750.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;
    position: relative;
}
.hero .background-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  rgba(98, 104, 171, 0.75);

}
.hero .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
   
}
.btnContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      
      .break {
        flex-basis: 100%;
        height: 0;
      }

header .wrapper {
    position:relative;
}

.hero .btn {
border: 2px white solid;
background-color:rgba(255, 255, 255, 0.4);
display: block;
margin: 20px;
padding: 15px 30px;
min-width: 200px;
font-size: 20px;
-webkit-transition: border-color 0.2s ease, color 0.2s ease;
-moz-transition: border-color 0.2s ease, color 0.2s ease;
-ms-transition: border-color 0.2s ease, color 0.2s ease;
-o-transition: border-color 0.2s ease, color 0.2s ease;
transition: border-color 0.2s ease, color 0.2s ease;
text-decoration: none;
color: #fff;
position:relative;
}
.fas {
    position: absolute;
    right: 10px;
}

.trapezoid {
    position: absolute;
    bottom: -11px;
    left: 18px;
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #0C3559;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 60px;
    z-index: 100;
}
.footer  {
    position: relative;
}
.footer .trapezoid {
    position: absolute;
    top: 0;
    left: 18px;
    border-top-style: solid;
    border-top-width: 12px;
    border-top-color: #878bbc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 60px;
    z-index: 100;

}

/** Wrapper **/
.wrapper { 
    max-width: -webkit-calc(1200px - (30px * 2)); 
    max-width: calc(1200px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; 
}

@media screen and (max-width: 800px) { 
    .wrapper { max-width: -webkit-calc(800px - (30px)); 
        max-width: calc(800px - (30px)); 
        padding-right: 15px; 
        padding-left: 15px; 
    } 
}
/** Footer **/

.footer {
  display: flex;
  padding: 0 1em;
}
.footer-col {
    padding: 50px 10px 1em;
}
.col1 {
    flex:2;
}
.col2 {
    flex:1;
}
.col3 {
    flex: 10;
}
.footer p {
    font-size: .75em;
    line-height: 1.5;
    padding-left: 1.5em;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .footer {
          flex-wrap: wrap-reverse;
      }
      .site-title {
        font-size: .9em;
      }
      .txtTitle {
        margin-top: 0;
      }
      .pull-left{
          margin-right: 8px;
      }
  }
