<div class="hero">
<div class="background-overlay">
<div class="wrapper">
  <div class="large-logo"><img src="css/imgs/bjc-logo.png" alt="BJC"/></div>
<div class="txtContainer">

  <h2>The Beauty and Joy of Computing<span class="subtitle">An AP CS Principles Course</span></h2>
  <div class="btnContainer">
    <div><a href="https://bjc.edc.org" target="_blank" class="btn btn1">
    BJC Curriculum<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>

  <div class="break"></div>

  <!--<div><a href="https://bjc.edc.org" target="_blank" class="btn btn2">
    Run Snap! Now<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>-->
  <div><a href="https://bjc.edc.org" target="_blank" class="btn btn2">Run <img style="height:40px; width: auto; vertical-align: middle; margin-top: -10px; margin-bottom: -10px;" src="css/imgs/snap-logo-large.png" alt="Snap!" title="Run Snap! Now" /> Now<i class="fas fa-arrow-alt-circle-right"></i></a></div> 
    <div><a href="https://bjc.edc.org" target="_blank" class="btn btn3">
    BJC Teacher Guide<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>
</div>
</div>
</div> 
</div>
</div>
