<div class="hero">
<div class="background-overlay">
<div class="wrapper">
<div class="txtContainer">
  <h2><img src="css/imgs/bjc-logo.png" alt="BJC"/>The Beauty and Joy of Computing<span class="subtitle">An AP CS Principles Course</span></h2>
  <div class="btnContainer">
    <div><a href="https://bjc.edc.org" target="_blank" class="btn">
    BJC Curriculum<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>

  <div class="break"></div>

  <div><a href="https://bjc.edc.org" target="_blank" class="btn">
    Run Snap! Now<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>
  <div><a href="https://bjc.edc.org" target="_blank" class="btn">
    How is BJC Special?<i class="fas fa-arrow-alt-circle-right"></i>
  </a></div>
</div>
</div>
</div> 
</div>
</div>
